body{
    background-color:black;
    }
    .text-center{
        color:khaki;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size:50px;
       
        
    }
    .mb-3{
        color:wheat;
        font-size:23px;
    }
    .con{
        margin-left: 140px;
        width: 1000px;
      
    }
    #items{
        color:darkgoldenrod;
        font-family:monospace;
        font:bold;
    }
    .table{
        color:darkred;
        font-size:14px;
        font-family:'Times New Roman', Times, serif;

    }
    #tableBody{
        color:lightcoral;
    }
    .img{
        width: 200px;
        height: 112px;
        margin-left: 400px;
        margin-bottom: 50px; 
        border-radius: 50px;;
    }